body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom right,darkgrey,darkolivegreen);
    transition: background-color 0.6s;
}
.page{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1fr 1fr 0.8fr;
    grid-template-areas: 
    "Navbar Navbar Navbar Navbar"
    "Sidebar Main Main Main"
    "Sidebar Section1 Section2 Section3"
    "Sidebar Section4 Section4 Section4"
    "Footer Footer Footer Footer";
    gap: 20px;
    height: 100%;
    animation: fadeIn 1s ease-in-out;
}
nav{
    grid-area: Navbar;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: blue;
}
main{
    grid-area: Main;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: blueviolet;
}
#sidebar{
    grid-area: Sidebar;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: aquamarine;
}
#section1{
    grid-area: Section1;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
background-color: brown;
}
#section2{ 
    grid-area: Section2;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: olive;
}
#section3{
    grid-area: Section3;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: goldenrod;
}
#section4{
    grid-area: Section4;
    padding: 20px;
    font-size: 30px;
    font-weight: bolder;
    background-color: fuchsia;
}
footer{
    grid-area: Footer;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    background-color: crimson;
}
